/* CSS Variable Definitions */
:root {
    --ppal-bg-color: #000000;
    --link-color: #4242e6;
}

/* Main */
.main-container {
    display: flex;
    justify-content: center;
    margin-left: 255px;
    padding: 30px;
    width: 100%;
    transition: margin-left .35s ease-in-out, let 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
    max-width: 1200px;
}

/* Section Title */
h2 {
    margin-bottom: 0px;
    font-size: 39px;
    color: var(--ppal-bg-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
}

p {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
}