/* CSS Variable Definitions */
:root {
    --ppal-bg-color: #000000;
    --link-color: #4242e6;
    --gray-color: #9fa2b4;
    --underline-color: #ffa600;
}

/* Main */
.main-container {
    display: flex;
    justify-content: center;
    margin-left: 255px;
    padding: 30px;
    width: 100%;
    transition: margin-left .35s ease-in-out, let 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
    max-width: 1200px;
}

/* Section Title */
.Section h2 {
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--ppal-bg-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
}

/* Section Subtitle */
.Section p {
    color: var(--link-color);
    margin-top: 5px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
}

/* body */
.body p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    margin-top: -10px;
}

/* icons */
img {
    display: inline-flex;
    align-items: center;
    width: 2.5%;
    height: auto;
}

.icon1 h2 {
    font-family: "Roboto, sans-serif";
    font-style: normal;
    font-weight: 900;
    color: var(--ppal-bg-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
}

.icon1 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    margin-top: -15px;
}

.icon1 button {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.icon2 h2 {
    margin-top: 50px;
    font-family: "Roboto, sans-serif";
    font-style: normal;
    font-weight: 900;
    color: var(--ppal-bg-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
}

.icon2 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    margin-top: -15px;
}

.icon2 button {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.icon3 h2 {
    margin-top: 50px;
    font-family: "Roboto, sans-serif";
    font-style: normal;
    font-weight: 900;
    color: var(--ppal-bg-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
}

.icon3 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    margin-top: -15px;
}

.icon3 button {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.icon4 h2 {
    margin-top: 50px;
    font-family: "Roboto, sans-serif";
    font-style: normal;
    font-weight: 900;
    color: var(--ppal-bg-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
}

.icon4 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    margin-top: -15px;
}

.icon4 button {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

/* Pricing */
.Pricing h2 {
    margin-top: 60px;
    font-size: 30px;
    color: var(--ppal-bg-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
}

.Pricing p {
    color: var(--gray-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
}

.Pricing span {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    color: var(--ppal-bg-color);
}

.Pricing span::after {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    height: .25rem;
    width: 100%;
    background: var(--underline-color);
    z-index: -1;
}