/* CSS Variable Definitions */
:root {
    --ppal-bg-color: #000000;
    --link-color: #4242e6;
}

/* Main */
.main-container {
    display: flex;
    justify-content: center;
    margin-left: 255px;
    padding: 30px;
    width: 100%;
    transition: margin-left .35s ease-in-out, let 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
    max-width: 1200px;
}

/* Section Title */
.Section h2 {
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--ppal-bg-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
}

/* Section Subtitle */
.Section p {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
}

/* body */
.body p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 40px;
    line-height: 30px;
}

/* icons */
img {
    display: inline-flex;
    align-items: center;
    width: 4%;
    height: auto;
}

.icon1 h2 {
    font-family: "Roboto, sans-serif";
    font-style: normal;
    font-weight: 900;
    color: var(--ppal-bg-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
}

.icon1 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.icon1 button {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.icon2 h2 {
    margin-top: 50px;
    font-family: "Roboto, sans-serif";
    font-style: normal;
    font-weight: 900;
    color: var(--ppal-bg-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
}

.icon2 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.icon2 button {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.icon3 h2 {
    margin-top: 50px;
    font-family: "Roboto, sans-serif";
    font-style: normal;
    font-weight: 900;
    color: var(--ppal-bg-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
}

.icon3 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.icon3 button {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.icon4 h2 {
    margin-top: 50px;
    font-family: "Roboto, sans-serif";
    font-style: normal;
    font-weight: 900;
    color: var(--ppal-bg-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
}

.icon4 p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}

.icon4 button {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}